.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--color-black);
  font-size: 2em;
}

.gallery__button:first-of-type {
  margin-top: 20px;
}

.gallery__button {
  margin-bottom: 10px;
  padding: 8px 0;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  width: 230px;
  background: lightblue;
}

.gallery__button:hover {
  background: lightcyan;
}
